@model ReservationSystem.Models.Reservation
@{
    ViewData["Title"] = "Rezervasyon Reddet";
}
<div class="login-register-bg">
    @**@
</div>

<div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="Reject" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="rejectModalLabel">Rezervasyonu Reddetmek İstediğinize Emin misiniz?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <label for="rejectMessage" class="form-label">Reddetme Mesajı (Gerekli)</label>
                        <textarea name="rejectMessage" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                    <button type="submit" class="btn btn-danger">Evet, Reddet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var rejectModalEl = document.getElementById('rejectModal');
            var myModal = new bootstrap.Modal(rejectModalEl, {
                backdrop: 'static', 
                keyboard: false
            });
            myModal.show();
            
         
            rejectModalEl.addEventListener('hidden.bs.modal', function (event) {
                window.location.href = '@Url.Action("Pending", "Reservations")';
            });
        });
    </script>
} 
