@model ReservationSystem.Models.MeetingRoom

@{
    ViewData["Title"] = "Yeni Oda Ekle";
}

<h1>Yeni Oda Ekle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Oda Türü</label>
                <div>
                    <label><input type="checkbox" name="RoomTypes" value="Konferans" /> Konferans</label>
                    <label><input type="checkbox" name="RoomTypes" value="Düğün" /> Düğün</label>
                    <label><input type="checkbox" name="RoomTypes" value="Tiyatro" /> Tiyatro</label>
                    <label><input type="checkbox" name="RoomTypes" value="Toplantı" /> Toplantı</label>
                    <label><input type="checkbox" name="RoomTypes" value="Seminer" /> Seminer</label>
                    <label><input type="checkbox" name="RoomTypes" value="Eğitim/Kurs" /> Eğitim/Kurs</label>
                    <label><input type="checkbox" name="RoomTypes" value="Sergi/Fuar" /> Sergi/Fuar</label>
                    <label><input type="checkbox" name="RoomTypes" value="Workshop/Atölye" /> Workshop/Atölye</label>
                    <label><input type="checkbox" name="RoomTypes" value="Konser" /> Konser</label>
                    <label><input type="checkbox" name="RoomTypes" value="Tören" /> Tören</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Devices" class="control-label"></label>
                <input asp-for="Devices" class="form-control" />
                <span asp-validation-for="Devices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
